geckodriver.log
*.log
youtube.com.pkl
__pycache__/
*__pycache__/*
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist
.venv/
venv/
data/auth/
data/db/db.sqlite3
data/video/*
data/ttf/*
data/tmp/*
data/subtitles/*
data/audio/*